node_modules
.env
.env.deployment

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
deployParameters.json
contracts/test/*
docs/*
testCall.ts
bin/
bin/contracts/*